<footer>
    <div class="container pt-3 pb-4">
      <div class="row">
        <div class="col">
          <h5 class="text-white fw-bold">
            {{ site.name }}
          </h5>
          <p class="mb-0">
            {{ site.description }}
          </p>
        </div>
      </div>

      <hr class="border-secondary my-2">

      <div class="d-flex flex-column flex-md-row justify-content-around gap-2 small">
        <div>
			<div class="footer-widget">
				<h4 class="mb-xl-4 text-white text-uppercase">Trainingszeiten</h4>
				<div class="text-white">
					Mittwoch: 	17:00 - 21:00 Uhr<br>
					Freitag: 	17:00 - 21:00 Uhr
				</div>
			</div>
		</div>
        <div>
			<div class="footer-widget">
				<h4 class="mb-xl-4 text-white text-uppercase">Trainingsort</h4>
				<a href="https://www.openstreetmap.org/node/2957895158#map=17/52.573615/13.384813" class="text-white">
					Hermann-Hesse-Str. 82<br>
					13156 Berlin
				</a>
			</div>
		</div>

      </div>

    </div>
</footer>
