<header>
 <nav class="navbar navbar-expand-lg border-bottom">
    <div class="container">

      <a class="navbar-brand text-primary fw-bold" href="/">
        {{ site.name }}
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNavigation"
        aria-controls="mainNavigation"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavigation">

        <ul class="navbar-nav ms-auto align-items-lg-center">

          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/verein/">Verein</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pictures/">Bilder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/kalender/">Kalender</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts/">Neuigkeiten</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>
